<h1>マイページ</h1>

<p>登録情報 : <%= link_to '編集する', edit_public_customer_path(@customer.id),class: 'btn btn-default' %></p>

<% @customer.each do |customer| %>
  <h4>氏名</h4>
  <%= customer.first_name+last_name %>
  <h4>カナ</h4>
  <%= customer.first_name_kana+last_name_kana %>
  <h4>郵便番号</h4>
  <%= customer.postal_code %>
  <h4>住所</h4>
  <%= customer.address %>
  <h4>電話番号</h4>
  <%= customer.telephone_number %>
  <h4>メールアドレス</h4>
  <%= customer.email %>
<% end %>


<p>配送先 : <%= link_to '一覧を見る',public_addresses_path(@customer),class: 'btn btn-default' %></p>
<p>注文履歴 : <%= link_to '一覧を見る', public_orders_path(@customer),class: 'btn btn-default' %></p>