<h1>商品新規登録</h1>
<%= form_for(@new_item, url: admin_items_path) do |f| %>
  <div class="form-control-file user_image">
    <label for="inputImage">商品画像</label>
    <%= f.attachment_field :image %>
  </div>
  <h4>商品名</h4>
  <%= f.text_field :name,include_blank: "商品名"  %>
  <h4>商品説明</h4>
  <%= f.text_area :introduction,include_blank: "ここに説明文を記述します" %>
  <h4>ジャンル</h4>
  
  <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択して下さい" %>
  <h4>税込価格(税抜価格)</h4>
  <%= f.text_area :price %>
  <h4>販売ステータス</h4>
  <%= f.radio_button :is_active, :selling,checked: true %>
  <%= f.label :gender, "販売中", {value: :selling, style: "display: inline-block;"} %>
  <%= f.radio_button :is_active, :sold_out %>
  <%= f.label :gender, "販売停止中", {value: :sold_out, style: "display: inline-block;"} %>
  <%= f.submit '新規登録' %>
<% end %>