<h1>管理者ログイン</h1>

<% if @.errors.any? %>
  <%= @.errors.count %>件のerrorが発生しました
  <% @.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<%= form_with model: @, url: user_session_path, local: true do |f| %>
  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.text_field :email, autofocus: true  %>
  </div>

  <div class="field">
    <%= f.label :パスワード %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>


  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
