<h1>注文履歴詳細</h1>

 <div class="container">
  <div class="row">
    <div class="col-md-3">
      <table class="table table-striped">
        　<tr>
            <th>購入者</th>
            <td><%#= @order.customer_id.last_name+first_name %></td>
          </tr>
        　<tr>
            <th>注文日</th>
            <td><%= @order.updated_at %></td>
          </tr>
          <tr>
            <th>配送先</th>
            <td><%= @order.address%></td>
          </tr>
          <tr>
           <th>支払方法</th>
           <td><%= @order.payment_method_i18n %></td>
          </tr>
          <tr>
           <th>ステータス</th>
           <td><%#= @order.status_i18n%>
            <%= form_for @order,url: admin_order_path(@order) do |f| %>
            <%= f.select :status_i18n, Order.statuses_i18n %>
            <%= f.submit "更新"%>
            <% end %>
           </td>
          </tr>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>



<div class="container">
<table class="table table-striped">
      <thead>
        <tr>
         <th>商品名</th>
         <th>単価(税込)</th>
         <th>数量</th>
         <th>小計</th>
         <th>製作ステータス</th>
        </tr>
      </thead>

    <tbody>
      <% @order_details.each do |order_detail| %>
        <tr>
          <td><%= order_detail.item.name %></td>
          <td><%= order_detail.price %></td>
          <td><%= order_detail.amount %></td>
          <td><%= @subtotal = order_detail.price*order_detail.amount %></td>
          <% @total += @subtotal %>
          <%#= form_for @order,url: admin_order_path(@order) do |f| %>
          <%#= f.select :status, Order.statuses.keys %>

          <%#= f.select :making_status, options_for_select_from_enum(OrderDetail, :making_status) %>
          <%#= f.submit "更新" %>
          <%# end %>
          <%= form_for order_detail,url: admin_order_path(@order) do |f| %>
          <%= f.select :making_status, order_detail.making_status.keys.map {|k| [I18n.t("enums.order_detail.making_status.#{k}"), k]} %>
          <%= f.submit "更新"%>
          <% end %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
  </div>