<h1>注文履歴詳細</h1>
  <% form_for @order do |f| %>
    <h4>購入者</h4>
    <%= order.customer_id.full_name %>
    <h4>注文日</h4>
    <%= order.created_at %>
    <h4>配送先</h4>
    <%= order.address %>
    <h4>支払方法</h4>
    <%= order.payment_method %>
    <h4>注文ステータス</h4>
          <%= form_for order,url: admin_order_path(order) do |f| %>
          <%= f.select :status, Order.statues.keys.map {|k| [I18n.t("enums.order.status.#{k}"), k]} %>
          <%= f.submit %>
          <% end %>
    <%= order.status %>
  <% end %>



<div class="container">
<table class="table table-striped">
      <thead>
        <tr>
         <th>商品名</th>
         <th>単価(税込)</th>
         <th>数量</th>
         <th>小計</th>
         <th>製作ステータス</th>
        </tr>
      </thead>

    <tbody>
      <% @cart_items.each do |cart_items| %>
        <tr>
          <td><%= cart_item.itemname %></td>
          <td><%= cart_item.item.with_tax_price %></td>
          <td><%= cart_item.order.amount %></td>
          <td><%= cart_item.subtotal%></td>
          <% @totalpayment +=  (cart_item.item.price * 1.1).floor * cart_item.amount %>
          <td>
          <%= form_for order,url: admin_order_path(order) do |f| %>
          <%= f.select :making_status, Order.statues.keys.map {|k| [I18n.t("enums.order.status.#{k}"), k]} %>
          <%= f.submit %>
          <% end %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
  </div>