<div class="container">
  <div class="row">
    <div class="col-md-3">
      <table class="table table-striped">
      <thead>
        <tr>
         <th>ジャンル名検索</th>
        </tr>
      </thead>
      <tbody>
        <% @ganres.each do |ganre| %>
          <tr>
            <td><%= ganre.name %></td>
          </tr>
      <% end %>
    </tbody>
    </div>
    
    
   
  <% @items.each do |item| %>
  <%= attachment_image_tag item, :image_id, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
  <strong><%= item.name %></strong>
  <%= item.introduction%>
  <%= item.price %>
　<%= f.collection_select :保存先のカラム名, テーブル（モデル）名.all, :実際にDBに保存させるカラム名, :選択肢に用いるカラム名, include_blank: "選択して下さい" %>
  <div class="btn btn-secondary">
   <%= f.submit "カートに入れる" %>
  </div>
<% end %>